* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    font-family: Arial, "Times New Roman", Times, serif;
}

#page {
    width: 960px;
    margin: 0 auto;
    border: 1px solid #999;
}
#menung {
    width: 960px;
    height: 35px;
    line-height: 35px; /*chiều cao giữa các dòng*/
    
    color: #FFF;
  
    border-top: 1px solid white; /* đường viền cam*/
}
#menung ul {
        font-size: 12px;
        font-weight: bold;
        list-style: none;
        text-align:center;
            background: #1F568B;
    }
    #menung ul li { /*hiển thị theo hàng*/
        display: inline-block;
        width: 100px;
        line-height: 30px;
        color: #f1f1f1;
    }
 #menung ul li a {
            text-decoration: none;
            color: #fff;
            display: block;
        }
#menung a:hover {
    background: #F1F1F1;
    color: #333;
}

#left {
    float: left;
    width: 200px;
    min-height: 600px;
}
#menud ul {
    background: #DDDDDD;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
}

#menud li
{
    color: #f1f1f1;
    display: block;
    width: 200px;
    line-height: 40px;
    
}
#danhmuc{
    text-align:center;
}
#menud a {
    text-decoration: none;
    color: blue;
    display: block;
    padding-left: 20px;
}
#content {
    float: left;
    width: 530px;
    padding: 10px; /* thêm vào khoảng không trên, dưới, trái, phải*/
    min-height: 600px;
    border: 1px solid #999;
}
#right {
    float: right;
    width: 200px;
    min-height: 600px;
}
#footer {
    color: black;
    width: 100%;
    background: #DDDDDD;
    overflow: hidden;
    border-top: 1px solid white; /* đường viền cam*/
}

    #footer p {
        float: left;
        padding: 20px 40px;
        width: 351px;
    }



